<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Define a list of default files to server when a directory is requested. -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Enable automatic extensionless mapping. -->
    <context-param>
        <param-name>jakarta.faces.AUTOMATIC_EXTENSIONLESS_MAPPING</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Keep empty input fields as null instead of as empty strings in the model. -->
    <context-param>
        <param-name>jakarta.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>

    <security-role>
        <role-name>Human Resources</role-name>
    </security-role>

    <security-role>
        <role-name>Administration</role-name>
    </security-role>

    <security-role>
        <role-name>Sales</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CanManageMovies</web-resource-name>
            <url-pattern>/employees/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Human Resources</role-name>
            <role-name>Administration</role-name>
            <role-name>Sales</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UseHttpsOnly</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/500.xhtml</location>
    </error-page>
</web-app>