<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Define a list of default files to serve when a directory is requested. -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Enable automatic extensionless mapping. -->
    <context-param>
        <param-name>jakarta.faces.AUTOMATIC_EXTENSIONLESS_MAPPING</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/h2-console/*</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>IT</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>H2 Console</web-resource-name>
            <url-pattern>/h2-console/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>IT</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>Sales</role-name>
    </security-role>

    <security-role>
        <role-name>Shipping</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CanManageMovies</web-resource-name>
            <url-pattern>/movies/create.xhtml</url-pattern>
            <url-pattern>/movies/edit.xhtml</url-pattern>
            <url-pattern>/movies/create</url-pattern>
            <url-pattern>/movies/edit</url-pattern>
            <url-pattern>/students/index.xhtml</url-pattern>
            <url-pattern>/students/index</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Sales</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CanDeleteMovies</web-resource-name>
            <url-pattern>/movies/delete.xhtml</url-pattern>
            <url-pattern>/movies/delete</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Sales</role-name>
            <role-name>Shipping</role-name>
        </auth-constraint>
    </security-constraint>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/errorpages/403.xhtml</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UseHttpsOnly</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>

